.state {
  font-size: 16px;
  font-weight: 600;
}

.state--true {
  color: red;
}
.state--false {
  color: green;
}


.user_block {
  width : 100%;
  padding : 2% 0 2% 2%;
  outline : 1px solid #bbb;
  background-color : #ddd;
}