$blue: #228be6;

// 우측 소환사 정보
.search_total__wrap {
  position: relative;
  padding: 0 10px;
}

.search_total__header {
  position: relative;
}

.search_total__header {
  width: 100%;
  margin-bottom : 5%
}

//header 영역 나누기
.search_total__content {
  display: flex;
}

.point_color {
  color: $blue;
}

.search_total__content.user_infomation {
  flex-direction: column;
  .info_thumb {
    flex: 1;
    overflow: hidden;
    width: 100px;
    height: 100px;
    align-self: center;
    border-radius: 5px;
    background: $blue;

    img {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .info_name {
    flex: 1;
    align-self: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: 600;
    color: #333;
  }
}

.search_total__content.content__info {
  display: flex;
  margin-top: 20px;

  // 차트 스타일
  .result_chart {
    width : 100%;
    height : 13px;
  }

  .result_chart .chart_bar {
    margin : 5px 0;
    width : 100%;
    height : 13px;
    background: #4d4d4d;
  }

  .result_chart .chart_bar__point {
    width : 50%;
    height : 100%;
    background : $blue;
  }

  .result_chart .chart_value {
    text-align: center
  }

  .content__rank {
    display: flex;
    flex: 0.5;
    justify-content: space-evenly;

    p + p {
      margin-top: 10px
    }
  }

  .content__rank .thumb {
    margin: 10px auto;
    width: 70px;

    img {
      width: 100%;
    }
  }
  .none_data {
    align-self: center;
  }

  .content__rank .title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  em.point_color {
    font-size: 16px;
    font-weight: bold;
    font-style: inherit;
  }

  .rank_info,
  .result_info {
    text-align: center;
    font-size: 16px;
  }

  .content__current_total {
    flex : 0.2;
    text-align: center
  }


  // 최근 20판 챔피언 승률 스타일
  .content__current_total.content__current_champion {
    flex: 0.3;

    .list {
      display : flex;
      flex-direction: column;
      justify-content : space-between;
      height: 100%;
    }

    .list_item dl {
      display : flex;
      justify-content: space-between
    }

    .list .list_item__1 {
      align-self : center;
    }

    .list .thumb {
      align-self : center;
      width: 25px;
      height : 25px;
      background : $blue;
    }
  }

  .content__current_champion .thumb {
    img {
      width: 100%;
    }
  }

  .content__current_champion .name {
    font-weight : bold;
    font-size: 14px;
  }
  .content__current_champion .info {
    font-size: 12px;
  }
}


