body,
html {
  width: 100%;
  height: 100%;
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f3f5f7;
}

.signup__wrapper {
  margin: 0 auto;
  width: 610px;
  min-height: 100%;
  height: 100%;
  background: #fff;
}

.signup__layer {
  position: relative;
  margin: 0 80px;
  padding-bottom: 80px;
}

.signup__header {
  position: relative;
  width: 100%;
  height: 200px;
}

.signup__header span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #555;
  font-weight: bold;
}

// step progress
.signup__step_container {
  position: relative;
  margin: 0 80px;
}

.step_progress {
  width : 0;
  height: 5px;
  background-color: #268aee;
  transition: width .4s ease-in-out;
}

.step {
  display: inline-block;
  position: absolute;
  top: -9px;
  width: 0;
  height: 20px;
  border-radius: 10px;
  background-color: #268aee;
  transition: width .4s ease-in-out;
  transition-delay: 0.35s;

  &.first_step {
    width: 20px;
  }
}

.step:after {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid #268aee;
  border-radius: 10px;
}

// content
.signup__content {
}

.member_input__box {
  position: relative;
  width: 100%;
}
.member_input__box.input_value--true input + label {
  transform: scale(0.75) translateY(-50px);
  color: #268aee;
}

.member_input__box.member_input__box--info input {
  margin-top: 45px;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 1.25rem;
  border-bottom: 1px solid #ccc;
  // transition: border .5s ease-in-out;
}
.member_input__box.member_input__box--info input:disabled {
  border: 2px solid green;
}
.member_input__box.member_input__box--info input:focus + label {
  transform: scale(0.75) translateY(-50px);
}

.member_input__box.member_input__box--info label {
  position: absolute;
  bottom: 40px;
  left: 0;
  transition: 0.2s linear;
}

// signup button
.signup__button {
  cursor: pointer;
  width: 100%;
}
.signup__button.signup__button--group {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.signup__button.signup__button--group button {
  width: 210px;
}

.signup__button .signup__button--point {
  display: block;
  padding: 20px 0px;
  font-size: 1.25rem;
  color: #fff;
  border: none;
  background: #268aee;
}
.signup__button .signup__button.signup__button.signup__button--cancle {
  border: 1px solid #dddfe4;
  font-size: 1.25rem;
  color: #000;
  background: transparent;
}

.signup__button button:disabled {
  cursor: default !important;
  background: #dddfe4 !important;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
}

// rule wrap
.rule_wrap {
  margin-top: 10px;
  height: 20px;
}

.rule_wrap span {
  color: red;
}

// link login
.signup__link {
  margin-top: 50px;
  text-align: center;
}

.signup__link .link__login {
  color: #268aee;
}

// pin style
.member_input__box.member_input__box--pin {
  margin: 0 auto;
  width: 80%;
  height: 50px;
}
.pin_group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.pin_item {
  width: 15%;
  height: 100%;

  input {
    width: 100%;
    height: 100%;
    border-color: #ccc;
    border-radius: 5px;
    text-align: center;

    &:disabled {
      border: 2px solid green;
    }
  }
}

// next Step div style
.add_info__section {
  opacity: 0;
  transition: 2s 2s linear;

  &.active {
    opacity: 1;
  }
}
