.user__title {
  display: flex;
}

.scroll_wrap {
  overflow-y: auto;
  height: 370px;
}

// 트롤 리스트 라벨 타이틀 스타일
.user__list_view__label {
  margin: 5px 0;
  display: flex;
  justify-content: flex-end;
  -webkit-box-shadow: 0px 12px 19px -11px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 12px 19px -11px rgba(0, 0, 0, 0.8);
}

.list_view__label__title {
  text-align: center;
  font-weight: 600;

  &.id {
    flex: 0.24;
  }
  &.tier {
    flex: 0.1;
  }
  &.memo {
    flex: 0.4;
  }
  &.remove {
    flex: 0.1;
  }
  &.search {
    flex: 0.1;
  }
}

.user__list_view {
}

.user__list_wrap {
  padding: 12px 10px;
  background: #e5e5e5;
  border-radius: 10px;
}

.user__list--item {
  padding: 10px 15px;
  background: #fff;
  border-radius: 10px;

  & + & {
    margin-top: 1.5%;
  }
}

.user__title .thumb {
  flex: 0.05;
}

.user__title .info {
  display: flex;
  flex: 0.4;
  align-self: center;
}

.user__title .info span {
  flex: 0.5;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* 말줄임 적용 */
}

.user__title .memo {
  flex: 0.4;
  align-self: center;
}

.user__title .func {
  flex: 0.19;
  display: flex;
  justify-content: space-evenly;
}
.func button {
  width: 40px;
  height: 40px;
}

.user_state__block {
  display: block;
  width: 100%;
  // background: rgb(255, 179, 0);
  outline: 1px solid #222;
  box-sizing: border-box;

  &--WIN {
    background: rgb(151, 186, 192);
  }
  &--LOSE {
    background: rgb(192, 151, 151);
  }

  & + & {
    margin-top: 30px;
  }
}

.user_state__item {
  padding: 5px 0 5px 10px;
  outline: 1px solid #777;
  box-sizing: border-box;
  font-weight: 600;
  background: #ccc;

  &--WIN {
    background: rgb(151, 186, 192);
  }
  &--LOSE {
    background: rgb(192, 151, 151);
  }
}

.totalview__all .user_state__item {
  padding: 0;
  .user_block {
    display: flex;
    background: transparent;
    padding: 0;
    margin: 0;
  }
  .user_block.list {
    height: 50px;
  }
  .user_block__info {
    display: flex;
    position: inherit;
    justify-content: space-between;
    // padding-left: 2%;
    align-items: center;
    height: 100%;
  }
  .user_block__wrap {
    padding: 2px;
  }
  .user_block__wrap--item {
    display: flex; //추가
  }
  .user_block__wrap--champ--img {
    width: 30px;
  }
  .user_block__wrap .user_block__img.champ {
    position: inherit;
    width: 30px;
  }
  .user_block__wrap--item {
    margin-left: 10px;
  }
  .user_block__name {
    margin-top: 0;
    text-align: left;
    font-size: 12px;
  }
  .user_block__wrap--info-name {
    width: 70px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* 말줄임 적용 */
  }
  .user_block__name.champ1 {
    display: none;
  }
  .user_block__name.champ2 {
    text-align: left;
    // margin-top: ;
  }

  .user_block__wrap--spell img {
    width: 20px;
  }
}
