.user__title {
  display: flex;
}

.user__list_view {
  padding: 10px;
  background: #eee;
}

.user__list--item {
  padding: 5px;
  background: #ccc;

  & + & {
    margin-top: 3%;
  }
}

.thumb {
  flex: 0.15;
}

.info {
  flex: 0.55;
}

.func {
  flex: 0.3;
  display: flex;
  justify-content: flex-end;
  margin-left: 5%;
}
.func button {
  width: 100px;
  height: 100%;
}

.user_state__block {
  width: 550px;
  background: rgb(255, 179, 0);
  outline: 1px solid #222;
  box-sizing: border-box;
}

.user_state__item {
  padding: 5px 0 5px 10px;
  outline: 1px solid #222;
  box-sizing: border-box;
  font-weight: 600;

  &--WIN {
    background: rgb(17, 154, 31);
  }
  &--LOSE {
    background: rgb(221, 5, 5);
  }
}
